<nav class="navbar navbar-inverse">
    <div class="container-fluid container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ path('dashboard') }}">  Administrativo  </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                {% if is_granted('ROLE_SUPER') %}
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">  <b>Consultar Envios</b>   <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="{{ path('consultaFN_super') }}">  Envios T. Nacional  </a></li>
                        <li><a href="{{ path('consultaAS_super') }}">  Envios A. Social  </a></li>
                      </ul>

                </li>                
               {% endif %}
               {% if is_granted('ROLE_ADMIN') %}
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">  Envios   <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="{{ path('indexEnvios') }}">  Envios T. Nacional  </a></li>
                        <li><a href="{{ path('report_fondo_nal') }}">  Reporte T. Nacional  </a></li>
                        <li><a href="">  Envios A. Social  </a></li>
                        <li><a href="">  Reporte A. Social  </a></li>
                      </ul>
                   
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">  Usuarios   <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="{{ path('indexUser') }}">  Iglesias y Usuarios  </a></li>
                        <li><a href="{{ path('addUser') }}">  Agregar Iglesia  </a></li>
                    </ul>
                </li>   
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">  Zonas   <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="{{ path('indexZona') }}">  Lista de Zonas  </a></li>
                        <li><a href="{{ path('addZona') }}">  Agregar Zona  </a></li>
                    </ul>
                </li>  
                <li><a href="{{ path('calDiezmos') }}">  Calculador  </a></li>
               {% endif %}
                {% if is_granted('ROLE_USER') %}
            <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">  ENVIOS   <span class="caret"></span></a>

                <ul class="dropdown-menu">
                    <li><a href="{{ path('consultaFN_user') }}"> Mis Envios T. Nacional </a></li>
                    <li><a href="{{ path('consultaAS_user') }}"> Mis Envios A. Social </a></li>
                </ul>
            </li>
            <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">  HACER ENVIOS   <span class="caret"></span></a>
                <ul class="dropdown-menu">
                     <li><a href="{{ path('addEnvios') }}">  Tesoreria Nacional  </a></li>
                     <li><a href="{{ path('addEnviosAS') }}">  Asistencia Social  </a></li>

                 </ul>
             </li>
                    <li><a href="{{ path('calDiezmos') }}">  Calculador  </a></li>

                {% endif %}
            </ul>
            
                
            

            <ul class="nav navbar-nav navbar-right">
                
                <li>
                    <a><b>Ingreso el usuario {{ app.user.iglesia }}</b></a>
                </li>
                <li>
                    <a href="{{ path('app_logout') }}">{{ 'Salir' }}</a>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>