{% extends 'base.html.twig' %}

{% block body %}

    {{ parent() }}
<div class="main container">
		<div class="row well">
			{{ form_start(form, { 'attr' : {'novalidate': 'novalidate', 'role' : 'form'} }) }}
				<div class="page-header">
					<h2>Formulario de Envio de Detalles</h2>
				</div>           
            <div class="col-md-3">
			    <div class="form-group">                    
			        {{ form_widget(form.anio['day'],{'attr':{'style':'display:none'}}) }}
                    {{ form_widget(form.anio['month'],{'attr':{'style':'display:none'}}) }}
                    {{ form_label(form.anio) }}{{ form_widget(form.anio['year'], {'attr': {'class': 'form-control'}}) }}</td></tr>
			        <span class="text-danger">{{ form_errors(form.anio) }}</span>
			    </div>

			    <div class="form-group">
			        {{ form_label(form.mes) }}
			        {{ form_widget(form.mes, {'attr': {'class': 'form-control'}}) }}
			        <span class="text-danger">{{ form_errors(form.mes) }}</span>
			    </div>
			</div>
			<div class="col-md-3">
			    <div class="form-group">
			        {{ form_label(form.fecha) }}
			        {{ form_widget(form.fecha)}}
			        <span class="text-danger">{{ form_errors(form.fecha) }}</span>
			    </div>

			    <div class="form-group">
			        {{ form_label(form.operacion) }}
			        {{ form_widget(form.operacion, {'attr': {'class': 'form-control'}}) }}
			        <span class="text-danger">{{ form_errors(form.operacion) }}</span>
			    </div>
			    
			    <div class="form-group">
			        {{ form_label(form.cajero) }}
			        {{ form_widget(form.cajero, {'attr': {'class': 'form-control'}}) }}
			        <span class="text-danger">{{ form_errors(form.cajero) }}</span>
			    </div>
			</div>
			<div class="col-md-3">
			    <div class="form-group">
			        {{ form_label(form.dDiezmo) }}
			        {{ form_widget(form.dDiezmo, {'attr': {'class': 'form-control'}}) }}
			        <span class="text-danger">{{ form_errors(form.dDiezmo) }}</span>
			    </div>
			    <div class="form-group">
			        {{ form_label(form.fSolidario) }}
			        {{ form_widget(form.fSolidario, {'attr': {'class': 'form-control'}}) }}
			        <span class="text-danger">{{ form_errors(form.fSolidario) }}</span>
			    </div>
			    <div class="form-group">
			        {{ form_label(form.cuotaSocio) }}
			        {{ form_widget(form.cuotaSocio, {'attr': {'class': 'form-control'}}) }}
			        <span class="text-danger">{{ form_errors(form.cuotaSocio) }}</span>
			    </div>
			    <div class="form-group">
			        {{ form_label(form.diezmoPersonal) }}
			        {{ form_widget(form.diezmoPersonal, {'attr': {'class': 'form-control'}}) }}
			        <span class="text-danger">{{ form_errors(form.diezmoPersonal) }}</span>       
			    </div>
			    
			</div>
			<div class="col-md-3">
			    <div class="form-group">
			        {{ form_label(form.misionera) }}
			        {{ form_widget(form.misionera, {'attr': {'class': 'form-control'}}) }}
			        <span class="text-danger">{{ form_errors(form.misionera) }}</span>
			    </div>
			    <div class="form-group">
			        {{ form_label(form.rayos) }}
			        {{ form_widget(form.rayos, {'attr': {'class': 'form-control'}}) }}
			        <span class="text-danger">{{ form_errors(form.rayos) }}</span>
			    </div>
			    <div class="form-group">
			        {{ form_label(form.gavillas) }}
			        {{ form_widget(form.gavillas, {'attr': {'class': 'form-control'}}) }}
			        <span class="text-danger">{{ form_errors(form.gavillas) }}</span>
			    </div>
			    <div class="form-group">
			        {{ form_label(form.fmn) }}
			        {{ form_widget(form.fmn, {'attr': {'class': 'form-control'}}) }}
			        <span class="text-danger">{{ form_errors(form.fmn) }}</span>
			    </div>
				<div class="form-group">
			        {{ form_label(form.total) }}
			        {{ form_widget(form.total, {'attr': {'class': 'form-control'}}) }}
			        <span class="text-danger">{{ form_errors(form.total) }}</span><p><br /><br /></p>
			    </div>
   			</div>
		    <center>
		    	<label>ReCaptcha</label>
					<div class="g-recaptcha" data-sitekey="6LdlGxMaAAAAAMub6Mx1F8itF_tkVl9yHqrzE1O1" data-callback="onloadCallback">
					</div>
					<button id="formSubmit" class="btn btn-lg btn-primary" type="submit" disabled >
						Enviar Detalles
					</button>
			</center> 
               
        
        {{ form_end(form) }}
	</div>
</div>


<script type="text/javascript">
  var onloadCallback = function() {
   let formSubmit = document.querySelector("#formSubmit");
formSubmit.removeAttribute("disabled");
  console.log(formSubmit)};
</script>
<script src="https://www.google.com/recaptcha/api.js?">
</script>
<script>
    var message = ('Esta seguro?');
    
    function confirmAdd()
    {
        bootbox.confirm(message, function(result) {
            if(result == true)
            {
                $('form')[0].formSubmit();
            }else{
            	$('form')[0];
            }

        });
    }
</script>
		</div>
	</div>
{% endblock %}