{% extends "base.html.twig" %}

{% block body %}
<table>
    <tbody>
        <tr>
            <th>Iglesia</th>
            <td>{{ envio.user }}</td>
            <th>Diezmo de Diezmo</th>
            <td>{{ envio.dDiezmo }}</td>
        </tr>
        <tr>
            <th>Fecha</th>
            <td>{{ envio.fecha|date('d-m-Y') }}</td>
            <th>Fondo Solidario</th>
            <td>{{ envio.fSolidario }}</td>
        </tr>
        <tr>
            <th>Mes</th>
            <td>{{ envio.mes|date('m') }}</td>
            <th>Cuota de Socio</th>
            <td>{{ envio.cuotaSocio }}</td>
        </tr>
        <tr>
            <th>Año</th>
            <td>{{ envio.anio|date('Y') }}</td>
            <th>Diezmo Personal</th>
            <td>{{ envio.diezmoPersonal }}</td>
        </tr>
        <tr>
            <th>Operación</th>
            <td>{{ envio.operacion }}</td>
            <th>Ofrenda Misionera</th>
            <td>{{ envio.misionera }}</td>
        </tr>
        <tr>
            <th>Cajero</th>
            <td>{{ envio.cajero }}</td>
            <th>Ofrenda Rayos</th>
            <td>{{ envio.rayos }}</td>
        </tr>
        <tr>	
            <th>Detalle Enviado</th>
            <td>{{ envio.createAt|date('d-m-Y') }}</td>
            <th>Ofrenda Gavillas</th>
            <td>{{ envio.gavillas }}</td>
        </tr>
        <tr>
            <th></th>
            <td></td>
            <th>F.M.N.</th>
            <td>{{ envio.fmn }}</td>
        </tr>
        <tr>
            <th></th>
            <td></td>
            <th>Total</th>
            <td>{{ envio.total }}</td>
        </tr>
    </tbody>
</table>
    
{% endblock %}
