{% extends 'basePdf.html.twig' %}

{% block body %}
<div>
	<div>
		<div>Detalles de los envios del {{ aportes }} correspondiente al {{ anio }}</h3>
		</div>
			<table id="t03">
				<thead>
				<tr>
					<th align="center">Iglesia</th>
					<th align="center">Ene</th>
					<th align="center">Feb</th>
					<th align="center">Mar</th>
					<th align="center">Abr</th>
					<th align="center">May</th>
					<th align="center">Jun</th>
					<th align="center">Jul</th>
					<th align="center">Ago</th>
					<th align="center">Sep</th>
					<th align="center">Oct</th>
					<th align="center">Nov</th>
					<th align="center">Dic</th>
					<th align="center">Total</th>
				</tr>
				</thead>
				<tbody>
				<tr class="success">
					<th colspan="14" ><center><b>{{ aportes }} Zona Norte</b></center></th>
				{% for enviosNorte in enviosNorte %}
				</tr>
					<tr>
					<th>{{ enviosNorte.iglesia }}</th>
					<td align="right">{{ enviosNorte.a }}</td>
					<td align="right">{{ enviosNorte.b }}</td>
					<td align="right">{{ enviosNorte.c }}</td>
					<td align="right">{{ enviosNorte.d }}</td>
					<td align="right">{{ enviosNorte.e }}</td>
					<td align="right">{{ enviosNorte.f }}</td>
					<td align="right">{{ enviosNorte.g }}</td>
					<td align="right">{{ enviosNorte.h }}</td>
					<td align="right">{{ enviosNorte.i }}</td>
					<td align="right">{{ enviosNorte.j }}</td>
					<td align="right">{{ enviosNorte.k }}</td>
					<td align="right">{{ enviosNorte.l }}</td>
					<td align="right">{{ enviosNorte.a + enviosNorte.b + enviosNorte.d + enviosNorte.c }}</td>
				</tr>
				{% endfor %}
				<tr class="success">
					<th colspan="14" ><center><b>{{ aportes }} Zona centro</b></center></th>
				</tr>
				
				{% for enviosCentro in enviosCentro %}
					<tr>
					<th>{{ enviosCentro.iglesia }}</th>
					<td align="right">{{ enviosCentro.a }}</td>
					<td align="right">{{ enviosCentro.b }}</td>
					<td align="right">{{ enviosCentro.c }}</td>
					<td align="right">{{ enviosCentro.d }}</td>
					<td align="right">{{ enviosCentro.e }}</td>
					<td align="right">{{ enviosCentro.f }}</td>
					<td align="right">{{ enviosCentro.g }}</td>
					<td align="right">{{ enviosCentro.h }}</td>
					<td align="right">{{ enviosCentro.i }}</td>
					<td align="right">{{ enviosCentro.j }}</td>
					<td align="right">{{ enviosCentro.k }}</td>
					<td align="right">{{ enviosCentro.l }}</td>
					<td align="right">{{ enviosCentro.a + enviosCentro.b + enviosCentro.c + enviosCentro.d + enviosCentro.e + enviosCentro.f + enviosCentro.g + enviosCentro.h + enviosCentro.i + enviosCentro.j + enviosCentro.k + enviosCentro.l }}</td>
				</tr>

				{% endfor %}
				<tr class="success">
					<th colspan="14" ><center><b>{{ aporte }} Zona Sur</b></center></th>
				</tr>

				{% for enviosSur in enviosSur %}
					<tr>
					<th>{{ enviosSur.iglesia }}</th>
					<td align="right">{{ enviosSur.a }}</td>
					<td align="right">{{ enviosSur.b }}</td>
					<td align="right">{{ enviosSur.c }}</td>
					<td align="right">{{ enviosSur.d }}</td>
					<td align="right">{{ enviosSur.e }}</td>
					<td align="right">{{ enviosSur.f }}</td>
					<td align="right">{{ enviosSur.g }}</td>
					<td align="right">{{ enviosSur.h }}</td>
					<td align="right">{{ enviosSur.i }}</td>
					<td align="right">{{ enviosSur.j }}</td>
					<td align="right">{{ enviosSur.k }}</td>
					<td align="right">{{ enviosSur.l }}</td>
					<td align="right">{{ enviosSur.a + enviosSur.b + enviosSur.c + enviosSur.d + enviosSur.e + enviosSur.f + enviosSur.g + enviosSur.h + enviosSur.i + enviosSur.j + enviosSur.k + enviosSur.l }}</td>
				</tr>

				{% endfor %}
				</tbody>
				</table>
				</div>
				
    <br />
    
</div>
</div>
</div>

{% endblock %}