{% extends 'base.html.twig' %}
     
{% block body %}

	{{ parent() }}
<div class="container">
	<div class="col-md-8 col-md-offset-2">
		<div class="page-header margin-none">
		<div class="table-responsive">
			<table class="table table-striped table-hover">
				<tbody>
					<tr>
                    <td><img src="{{asset('images/logoIPNJ.png') }}" width="300" height="220" alt="IPNJLogo" /></td>
						
						{% if is_granted('ROLE_SUPER') %}
						<td>
							<a href="{{ path('indexUser') }}" class="btn btn-primary btn-block">
			<span class="glyphicon glyphicon-edit"></span>
		        	{{ 'Listado de Iglesias' }}
							</a>
							<br />
							<br />

					</td>
					<td>
						<a href="{{ path('indexZona') }}" class="btn btn-primary btn-block">
			<span class="glyphicon glyphicon-edit"></span>
		        	{{ 'Listado de Zonas' }}
							</a>
							<br />
							<br />								
							
							<a href="{{ path('indexEnvios') }}" class="btn btn-danger btn-block">
			<span class="glyphicon glyphicon-edit"></span>
		        	{{ 'Ver Envios' }}
							</a>
							<br />

						</td>
						
					{% endif %}
					{% if is_granted('ROLE_ADMIN') %}
						<td>
							<a href="{{ path('indexUser') }}" class="btn btn-primary btn-block">
			<span class="glyphicon glyphicon-edit"></span>
		        	{{ 'Listado de Iglesias' }}
							</a>
							<br />

							<a href="{{ path('addUser') }}" class="btn btn-primary btn-block">
			<span class="glyphicon glyphicon-edit"></span>
		        	{{ 'Agregar Iglesia' }}
							</a>
							<br />

							<a href="{{ path('report_fondo_nal') }}" class="btn btn-danger btn-block">
			<span class="glyphicon glyphicon-edit"></span>
		        	{{ 'Reporte por ofrenda' }}
							</a>

					</td>
					<td>
						<a href="{{ path('indexZona') }}" class="btn btn-primary btn-block">
			<span class="glyphicon glyphicon-edit"></span>
		        	{{ 'Listado de Zonas' }}
							</a>
							<br />

							<a href="{{ path('addZona') }}" class="btn btn-primary btn-block">
			<span class="glyphicon glyphicon-edit"></span>
		        	{{ 'Agregar Zonas' }}
							</a>
							<br />								
							
							<a href="{{ path('indexEnvios') }}" class="btn btn-danger btn-block">
			<span class="glyphicon glyphicon-edit"></span>
		        	{{ 'Ver Envios' }}
							</a>
							<br />
							
						</td>
						
					{% endif %}
			{% if is_granted('ROLE_USER') %}
            <td>
				<a href="{{ path('addEnvios') }}" class="btn btn-primary btn-lg btn-block">
			<span class="glyphicon glyphicon-edit"></span>
		        	{{ 'Enviar Detalles F. Nacional' }}
							</a>
							<br />
                            
                            <a href="{{ path('consulta_fnacional_user') }}" class="btn btn-primary btn-lg btn-block">
			<span class="glyphicon glyphicon-edit"></span>
		        	{{ 'Mis Envios F. Nacional' }}
							</a>
							<br />
                            
				<a href="" class="btn btn-warning btn-lg btn-block">
			<span class="glyphicon glyphicon-edit"></span>
		        	{{ 'Envios A. Social' }}
							</a>
							<br />
                            
                            <a href="" class="btn btn-warning btn-lg btn-block">
			<span class="glyphicon glyphicon-edit"></span>
		        	{{ 'Detalles A. Social' }}
							</a>
							<br />
                            </td>
			{% endif %}
						
						
					
					</tr>
				</tbody>
			</table>
		</div>

	</div>
</div>		

</div>


{% endblock %}