{% extends "base.html.twig" %}

{% block body %}

{% for message in app.flashes('exito') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endfor %}

 <table>
    <thead>
        <tr>
            <th>Iglesias Zona Norte</th>
            <th>Información</th>
        </tr>
    </thead>
    <tbody>
      {% for norte in norte %}
            <tr>			
                <td>{{ norte.iglesia }}</td>
                <td class="action">
					<a href="{{ path('viewUser', { id: norte.id }) }}" >Ver</a>
                    
                     <a href="{{ path('editUser', { id: norte.id }) }}">Editar</a>
        </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
<table>
    <thead>
        <tr>
            <th>Iglesias Zona Centro</th>
            <th>Información</th>
        </tr>
    </thead>
    <tbody>
        {% for centro in centro %}
            <tr>			
                <td>{{ centro.iglesia }}</td>
        <td class="action">
					<a href="{{ path('viewUser', { id: centro.id }) }}" >Ver</a>
                    
                     <a href="{{ path('editUser', { id: centro.id }) }}">Editar</a>
        </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
<table>
    <thead>
        <tr>
            <th>Iglesias Zona Sur</th>
            <th>Información</th>
        </tr>
    </thead>
    <tbody>
        {% for sur in sur %}
            <tr>			
                <td>{{ sur.iglesia }}</td>
        <td class="action">
					<a href="{{ path('viewUser', { id: sur.id }) }}" >Ver</a>
                     <a href="{{ path('editUser', { id: sur.id }) }}">Editar</a>
        </td>
            </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}
